<a href="https://colab.research.google.com/github/VembuVinodini/Programming-fles/blob/main/Python-Basics_%5BEMC%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#casting  - to change one data type into another
a = int('10')
b = int('30')
c = a+b
print(c)

40

In [2]:
# to check palindrome
s=input()
p=s[::-1]
if(s==p):
    print("true")
else:
    print("false")

anu
false

In [ ]:
# user input
a = int(input())
b = int(input())
c = a+b
print(c)

234
1
235

In [ ]:
# input
name= input()
age = input()
address=input()
print("my name is :",name)
print("my age is :",age)
print("my address is :",address)

EMC
1
Pudhukottai
my name is : EMC
my age is : 1
my address is : Pudhukottai

In [ ]:
# input with operators
a = int(input())
b = int(input())
c = int(input())
mul = (a*b*c)
add = (a+b+c)
div= (mul/add)
print("multiplication value:",mul)
print("addition value:",add)
print("division value:",div)

100
20
1
multiplication value: 2000
addition value: 121
division value: 16.52892561983471

In [ ]:
# to get the details of student and score
Name=input()
score= int(input())
dep = input()
print("My name is :",Name)
print("My score is :",score/10,"/10")
print("My department is :",dep)

Vino
99
IT
My name is : Vino
My score is : 9.9 /10
My department is : IT

In [ ]:
# to calculate how much petrol needed for vehicle
km = int(input())
petrol = km/30
petrol

150

5.0

In [ ]:
# if else & boolean values
if(True):                                 # if true is inside the if condition it ll print if
  print('yes')
else:
  print('no')

yes

In [ ]:
# if else & boolean values
if(False):       # if false is inside the if condition it ll print else
  print('yes')
else:
  print('no')

no

In [ ]:
if ('Vino'=="Vino"):     # no issue with the quotation
  print('yes')
else:
  print('no')

yes

In [1]:
# if else
vino = 'pravin'
if (vino=='pravin'):
  print('Drink')
else:
  print("Cake")

Drink

In [ ]:
# if else
meghna = input("Enter value for maghna: ")
if (meghna=="died"):
  print('Surya weds priya')
else :
  print('meghna weds priya')

Enter value for maghna: died
Surya weds priya

In [ ]:
marks = int(input())
if (marks > 35):
  print('pass')
else:
  print('fail')

99
pass

In [ ]:
income = int(input())
if (income < 7000):
  print('Eligible for schlorship')
else :
  print(' Not eligible for schlorship')

6000
Eligible for schlorship

In [ ]:
# modulus
a = int(input())
if (a % 3  == 0 and a % 5 == 0 ):
  print('Divisible by 3 and 5')
else:
  print('Not divisible by 3 and 5')

60
Divisible by 3 and 5

In [ ]:
# even or odd
num = int(input())
if (num % 2 ==0 ):
  print('Given number is even')
else:
  print('Given number is odd')

102030420
Given number is even

In [ ]:
marks = int(input())
if (marks < 35  ):
  print("poor")
elif(35 < marks < 75 ):
  print('average')
else :
  print('good')

20
poor

In [ ]:
a = int(input("A:"))
b = int(input("B:"))
operation = input( "add/sub/mul/div:")
if (operation == 'add') :
  print(a+b)
elif (operation == 'sub') :
  print(a-b)
elif (operation == 'mul') :
  print(a*b)
elif (operation == 'div') :
  print(a/b)
else :
  print("Given opeartion is invalid")

A:100
B:99
add/sub/mul/div:sub
1

In [ ]:
score = int (input("enter the score percentage :"))
if (score>=70):
  name = input ("Enter your name ")
  age = int (input("Enter your age "))
  print('You are eligible ')
else :
  print('You are not eligible')

enter the score percentage :99
Enter your name VinoPravin'
Enter your age 22
You are eligible

In [ ]:
# Nested if
salary = int(input ("Enter your salary :"))
age = int(input("Enter your age "))
if (salary >= 20000 or age > 25):     # binary True - 1 false - 0 : and * , or +
  loan=int(input("Loan amount : "))
  if (loan > 50000):                  # nested if
    print('maximum loan amount is 50000')
  else:
    print("you are eligible for loan ")
else:
  print("you are not eligible for loan ")

Enter your salary :900000
Enter your age 10
Loan amount : 40000
you are eligible for loan

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = int(input())

average = (a+b+c+d+e)/5
if (average < 35 ):
  print("Additional classes required")
else :
  print('Good to go ')

45
67
34
67
87
Good to go

In [ ]:
# for loop
for i in "apple":
  print(i)

a
p
p
l
e

In [ ]:
for emc in range (4,9):   # n-1
  print(emc)

4
5
6
7
8

In [ ]:
# print 5 tables using for loop
for v in range (1,16):
  print(v,"* 5 =" , v*5)

1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60
13 * 5 = 65
14 * 5 = 70
15 * 5 = 75

In [ ]:
a = int(input())
b = int(input())
for i in range (a,b):
  print(i)

2
15
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for i in range(4,15):
  if(i %2==0 ):
    print(i)

4
6
8
10
12
14

In [ ]:
# to count number of even numbers from 1 to 10
count = 0
for i in range(1,11):
  if(i %2==0 ):
    count = count+1
count

5

In [ ]:
# to count number of odd numbers from 1 to 10
count = 0
for i in range(1,15):
  if(i %2==1 ):
    count = count+1
count

7

In [ ]:
#another way of doing this
e_count=0
o_count=0
for i in range (1,16):
  if (i%2==0):
    e_count=e_count+1
  else :
    o_count=o_count+1
print(e_count)
print(o_count)

7
8

In [ ]:
# number divisible by 3 and 5 range 1 to 100
count = 0
for n in range (1,101):
  if (n % 3==0 and n%5 ==0):
    count=count+1
print(count)

6

In [ ]:
# find sum of first 5 natural numbers
sum = 0
for i in range (1,6):
  sum = sum+i
print(sum)

15

In [ ]:
# get input for 10 numbers and find average
vino= []
print("Enter 10 numbers:  ")
for i in range (10):
  num = int(input("Enter num : "+str(i+1 )))# casting i as str and +1 is just an index
  vino.append(num)
print(vino)

sum = 0
for i in vino:
  sum = sum+i
print(sum)

Enter 10 numbers:
Enter num : 110
Enter num : 220
Enter num : 330
Enter num : 440
Enter num : 550
Enter num : 660
Enter num : 770
Enter num : 880
Enter num : 990
Enter num : 10100
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
550

In [ ]:
 # print n terms of natural numbers
 a = int(input("Enter the number : "))
 for i in range (1,a+1):
  print(i)

Enter the number : 9
1
2
3
4
5
6
7
8
9

In [ ]:
 # print the cube of n terms of natural numbers
 a = int(input("Enter the number : "))
 for i in range (1,(a+1)):
  print(i**3)

Enter the number : 5
1
8
27
64
125

In [ ]:
# nested for loop
for i in range (1,6):
  for j in range (1,3):
    print(j,'Apple')

1 Apple
2 Apple
1 Apple
2 Apple
1 Apple
2 Apple
1 Apple
2 Apple
1 Apple
2 Apple

In [ ]:
for i in range (2,6):
  for v in range (2,8):
    print(i,"VinoPravin")

2 VinoPravin
2 VinoPravin
2 VinoPravin
2 VinoPravin
2 VinoPravin
2 VinoPravin
3 VinoPravin
3 VinoPravin
3 VinoPravin
3 VinoPravin
3 VinoPravin
3 VinoPravin
4 VinoPravin
4 VinoPravin
4 VinoPravin
4 VinoPravin
4 VinoPravin
4 VinoPravin
5 VinoPravin
5 VinoPravin
5 VinoPravin
5 VinoPravin
5 VinoPravin
5 VinoPravin

In [ ]:
for k in range (1,3):
  print("Week ",k)
  for i in range (1,5):
    print("Day",i)

Week  1
Day 1
Day 2
Day 3
Day 4
Week  2
Day 1
Day 2
Day 3
Day 4

In [ ]:
# end =
for f in range (5):
  print("*",end=(" "))

* * * * *

In [ ]:
for i in range (1,11):
  print("$"*i)

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$
$$$$$$$$$$

In [ ]:
# pattern
for i in range (1,5):
  print()     # if only print is there it ll go to next line ; there will be a gap in first line (empty)
  for j in range(1 , i+1):
    print(j,end="")

1
12
123
1234

In [ ]:
# pattern
for i in range (1,5):
  print()     # if only print is there it ll go to next line ; there will be a gap in first line (empty)
  for j in range(1 , i+1):
    print("*",end="")

*
**
***
****

In [ ]:
# While loop
i = 0
while(i==9):   # if while loop is true it will go to next line , if false nothing will get printed
  print("vino")
  i = i +1        # only if there is condiyion the loop ll end , otherwise it ll run till infinity

In [ ]:
i = 3
while ( i <= 11):
  print("DS")
  i = i+2

DS
DS
DS
DS
DS

In [ ]:
# print 10,20,30...200
i = 10
while ( i <= 200):
  print(i,end=" ")
  i = i+10

10 20 30 40 50 60 70 80 90 100 110 120 130 140 150 160 170 180 190 200

In [ ]:
# Natural numbers in reverse order
i = 10
while ( i > 0):
  print(i,end=" ")
  i = i-1

10 9 8 7 6 5 4 3 2 1

In [ ]:
# Factorial   (imp)
i = 3
fact= 1
while ( i > 0):
  fact= fact * i # for factorial * shoud be used ( i = 3 , fact = 1 (3*1)= fact=3; i =2,fact=3 (3*2)=6 ; i = 1,fact=6 (6*1)= 6 .. then while = false)
  i = i-1
print(fact)

6

In [ ]:
# collections
# List
a = [1,2,3,5,6,78,99]
a.insert(0,11)
a.append("Pravin")
a[1]= 12    # to replace
a.pop (4)    # will delete the element in that respective index
print(a[4])
a

6

[11, 12, 2, 3, 6, 78, 99, 'Pravin']

In [ ]:
a = [ 1,2,3,4,5,6]
b = [7,8,9,12]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12]

In [ ]:
d = [ 12,45,67]
a.append(d)     # append will add as it is ; extend will add only the elements
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, [12, 45, 67]]

In [ ]:
#Tuple
# tuple allows duplicates and ordered but not alterable (if u wanna add cast tuple into list and then alterable )
#set - unordered (remove,update,pop)
#Dictionary - keys are constant and dont allow duplicates,modifyable values (update,keys,values,pop,del,clear)

In [ ]:
# Functions
def painter ():
  print("Painter")

painter()

Painter

In [ ]:
def add():
  print("ADDITION")
  a = int(input("Enter a : "))
  b = int(input("Enter b : "))
  print(a+b)
add()

ADDITION
Enter a : 199
Enter b : 1
200

In [ ]:
def sub():
  print("SUBRACTION")
  a = int(input("Enter a : "))
  b = int(input("Enter b : "))
  print(a-b)
sub()

SUBRACTION
Enter a : 786
Enter b : 0
786

In [ ]:
def painter(msg):
  print("You received a Message : ", msg)

painter("paint my room")

You received a Message :  paint my room

In [ ]:
# to find even or odd
def evenodd(num):
  if num % 2 == 0:
    print(num,"The given num is even ")
  else :
    print(num ,"The given num is odd")

# evenodd(88)
evenodd(int(input("Enter a number: ")))

Enter a number: 67
67 The given num is odd

In [ ]:
# Pass or fail
def passfail(marks):
  if marks > 34 :
    print("pass")
  else :
    print("Fail")
num = int(input("Enter the marks: "))
passfail(num)

Enter the marks: 55
pass

In [ ]:
# to get input from user and print range
def printran(r1,r2):

  for i in range(r1,r2):
    print(i)
a= int(input("Enter a : "))
b= int(input("Enter b : "))
printran(a,b)

Enter a : 34
Enter b : 40
34
35
36
37
38
39

In [ ]:
# Return fn
def valueofa():
  return 10

a = valueofa()
a

10

In [ ]:
s_username="EMC"
s_password = "123"

uname= input("Enter uname: ")
password = input("Enter password: ")

def validate():
  if (s_username==uname and s_password==password):
    return True
  else:
    return False

validate()

Enter uname: EMC
Enter password: 123

True

In [ ]:
def add(n1,n2):
  return n1+n2

a = int(input("Enter A: "))
b = int(input("Enter B: "))
c = int(input("Enter C: "))

added= add(a,b)
output= added * c
print(output)

Enter A: 30
Enter B: 10
Enter C: 50
2000

In [ ]:
# Classes and objects
class goa:
  name = ""
  drink = ""
  def party(self):
    print ("Lets party")
  def beach(self):
    print ("Enjoying the beach")

ramesh= goa()
suresh= goa()

ramesh.party()
suresh.beach()

ramesh.name = "Ramesh"
suresh.name = "Suresh"

ramesh.drink="Yes"
suresh.drink="No"
print("Ramesh drink: ",ramesh.drink)
print("Suresh.drink: ",suresh.drink)

Lets party
Enjoying the beach
Ramesh drink:  Yes
Suresh.drink:  No

In [ ]:

class laptop():
  price = 0
  proc=""
  ram =""

hp = laptop()
dell = laptop()
# LENOVO

hp.price  = 50000
hp.proc = "i7"
hp.ram = "16gb"

dell.price  = 80000
dell.proc = "i9"
dell.ram = "16gb"

print(hp.price)
print(dell.price)

50000
80000

In [ ]:
# __init__ -( a constructor is unique function that gets called automatically when an object is created of a class)
class laptop:
  def __init__ (self):
    self.ram = ""
    self.processor=""
  def display(self):
    print("ram:",self.ram)   # self - used to denote the current object- denoted as hp.ram
    print("processor:",self.processor)

hp = laptop()   # this is object
# hp.price= 50000
hp.ram = "8gb"
hp.processor = "i5"
hp.display()  # the process will run as hp.display(hp)

ram: 8gb
processor: i5

In [ ]:
# to get the details of the student using variable name and reg no using constructor
class  student:
  def __init__ (self):
    self.name=input()
    self.regnum=int(input())
  def display (self):
    print("name:",self.name)
    print("registerNumber:",self.regnum)

S1 = student()
S2 = student()   # this will create an object
# print (S1.name)
# print(S1.regnum)
S1.display()
S2.display()

Vino
03
Pravin
03
name: Vino
registerNumber: 3
name: Pravin
registerNumber: 3

In [ ]:
# print the color of the fruit , get the color variable as a parameter
class fruit:
  def __init__(self,col):  # color will save the input given by the user and then the function will be called (col)
    self.color = col
    # abc = self.color
apple = fruit(input())     # apple is object, color is a variable
print("The color of the fruit is",apple.color)

Blue
The color of the fruit is Blue

In [ ]:
class teacher :
  def __init__(self):
    self.name = input("Name: ")
    self.regnum= int(input("RegisterNumber: "))
  def display(self):
    print(self.name)
    print(self.regnum)

T1= teacher()
T2= teacher()

print(T1.display())
print(T2.display())

Name: Vino
RegisterNumber: 23
Name: Pravin
RegisterNumber: 25
Vino
23
None
Pravin
25
None

In [ ]:
#another way of doing it
class teacher() :
  def __init__(self,name,reg):
    self.name = name
    self.regnum= reg
  def display(self):
    print(self.name)
    print(self.regnum)

T1= teacher(input("Name: "),int(input("RegisterNumber: ")))   # instead of getting input u can directly give the parameter here
T2= teacher(input("Name: "),int(input("RegisterNumber: ")))

T1.display()
T2.display()

Name: Vino
RegisterNumber: 23
Name: Pravin
RegisterNumber: 25
Vino
23
Pravin
25

In [ ]:
class calculator() :
  def __init__(self,n1,n2):
    self.num1=n1
    self.num2 = n2
  def sum(self):
    print(self.num1+self.num2)    # n1&n2 are the variable belongs to init fn so if we use n1&n2 here the variable will not be defined
  def sub(self):
    print(self.num1-self.num2)
  def mul(self):
    print(self.num1*self.num2)
  def div(self):
    print(self.num1/self.num2)

operation = calculator(10,100)
operation.div()

0.1

In [ ]:
# self.______ ---> these are instantance variable
class phone():
  def __init__(self,brand,price,chargerType):    # init is a constructor
    self.brand = brand         # self.brand - instantance variable
    self.price = price         # self.price - instantance variable
    self.charger=chargerType   # self.charger - instantance variable
  def display(self):
    print("Brand: ",self.brand)
    print("price: ",self.price)
    print("Charger: ",self.charger)

samsung=phone("Samsung","15000","B-TYPE")
vivo = phone("Vivo","20000","C-Type")
vivo.display()
print()   # to print  empty line
samsung.display()

Brand:  Vivo
price:  20000
Charger:  C-TYPE

Brand:  Samsung
price:  15000
Charger:  C-TYPE

In [ ]:
# if u wanna fix all the mobiles as c type  # CLASS VARIABLE
class phone():
  chargerType = "C-TYPE"   - #if the variable remains same for all the  object --> its class variable
  def __init__(self,brand,price):    # init is a constructor
    self.brand = brand         # self.brand - instantance variable
    self.price = price         # self.price - instantance variable

  def display(self):
    print("Brand: ",self.brand)
    print("price: ",self.price)
    print("ChargerType: ",self.chargerType)


samsung=phone("Samsung","15000")
vivo = phone("Vivo","20000")
google = phone("Pixel","50000")
vivo.display()
print()   # to print  empty line
samsung.display()
print()
google.display()

Brand:  Vivo
price:  20000
ChargerType:  C-TYPE

Brand:  Samsung
price:  15000
ChargerType:  C-TYPE

Brand:  Pixel
price:  50000
ChargerType:  C-TYPE

In [ ]:
# if u wanna fix all the mobiles as c type  - ANOTHER WAY
class phone():
  # chargerType = "C-TYPE"
  def __init__(self,brand,price):    # init is a constructor
    self.brand = brand         # self.brand - instantance variable
    self.price = price
    self.ChargerType = "C-TYPE"

  def display(self):
    print("Brand: ",self.brand)
    print("price: ",self.price)
    print("ChargerType: ",self.ChargerType)


samsung=phone("Samsung","15000")
vivo = phone("Vivo","20000")
google = phone("Pixel","50000")
vivo.display()
print()   # to print  empty line
samsung.display()
print()
google.display()

Brand:  Vivo
price:  20000
ChargerType:  C-TYPE

Brand:  Samsung
price:  15000
ChargerType:  C-TYPE

Brand:  Pixel
price:  50000
ChargerType:  C-TYPE

In [ ]:
# if u wanna change all mobile to Btype
class phone():
  ChargerType = "C-TYPE"
  def __init__(self,brand,price):    # init is a constructor
    self.brand = brand         # self.brand - instant variable
    self.price = price

  def display(self):
    print("Brand: ",self.brand)
    print("price: ",self.price)
    print("ChargerType: ",self.ChargerType)

phone.ChargerType = "B-TYPE"
samsung=phone("Samsung","15000")
vivo = phone("Vivo","20000")
google = phone("Pixel","50000")
vivo.display()
print()   # to print  empty line
samsung.display()
print()
google.display()

Brand:  Vivo
price:  20000
ChargerType:  B-TYPE

Brand:  Samsung
price:  15000
ChargerType:  B-TYPE

Brand:  Pixel
price:  50000
ChargerType:  B-TYPE

In [ ]:
# TYPES OF CLASS FUNCTIONS/METHODS
# instance method - if you use self.___ for all the fun. to access the value of the object
class laptop():
  chargertype = "C-Type"

  def __init__(self):
    self.brand=""
    self.price=100

  def setprice(self,price):
    self.price= price

  def getprice(self):
    print(self.price)

hp = laptop()
hp.setprice(20000)
hp.getprice()

20000

In [ ]:
# TYPES OF CLASS FUNCTIONS/METHODS
# Class method - if you access class variables for fun ( not used that much )
class laptop():
  chargertype = "C-Type"

  def __init__(self):
    self.brand=""
    self.price=100

  def setprice(self,price):
    self.price= price

  def getprice(self):
    print(self.price)

  @classmethod #--->decorator
  def changeChargerType(cls):  # cls - class key word
    cls.chargertype = "B-TYPE"
    print("Charger type changed ")



hp = laptop()
hp.setprice(20000)
hp.getprice()

laptop.changeChargerType()   # if u dont wanna give laptop for all the time use decorators - line 16 (or) give the class name as parameter

20000
Charger type changed

In [ ]:
# TYPES OF CLASS FUNCTIONS/METHODS
# Static method - if you dont wanna use class variables / instance variable
class laptop():
  chargertype = "C-Type"

  def __init__(self):
    self.brand=""
    self.price=100

  def setprice(self,price):
    self.price= price

  def getprice(self):
    print(self.price)

  @classmethod #--->decorator
  def changeChargerType(cls):  # cls - class key word
    cls.chargertype = "B-TYPE"
    print("Charger type changed ")

  @staticmethod     # ----> decorator
  def info():
    print("this is a class laptop")

hp = laptop()
hp.setprice(20000)
hp.getprice()

laptop.changeChargerType()
hp.info()

20000
Charger type changed
this is a class laptop

In [ ]:
# INHERITANCE
# single inhertance
class dad():
  def phone(self):
    print("Daddy's phone")

class son(dad):    # if you insert dad as a parameter in son().. it will get linked
  def laptop(self):
    print("Son's lap")

ram = son()
ram.laptop()
ram.phone()
# Ram.phone()

Son's lap
Daddy's phone

In [ ]:
# INHERITANCE
#  multiple inhertance
class dad():
  def phone(self):
    print("Daddy's phone")

class mom ():
  def sweet(self):
    print("Mom made sweet ")

class son(dad,mom):    # if you insert dad as a parameter in son().. it will get linked
  def laptop(self):
    print("Son's lap")

ram = son()
ram.laptop()
ram.phone()
ram.sweet()
# Ram.phone()

Son's lap
Daddy's phone
Mom made sweet

In [ ]:
# INHERITANCE
#  multi level inhertance
class grandpa():
  def phone (self):
    print("Grandpa's phone")

class dad(grandpa):
  def money(self):
    print("Dad has money")

class son(dad):
  def laptop(self):
    print("I have a laptop")

ram = son()
sree = dad()
ram.money()
sree.phone()
ram.phone()

Dad has money
Grandpa's phone
Grandpa's phone

In [ ]:
# INHERITANCE
# hierarchical inheritance
class dad():
  def attitude(self):
    print("Positive")
class son(dad):
  pass
class son2(dad):
  pass
class son3(dad):
  pass

s2= son2()
s2.attitude()

Positive

In [ ]:
# INHERITANCE
# hybrid inheritance  - single,mutiple,multi level and hierarchical all together
class dad():
  def attitude(self):
    print("Positive")

class land():
  def important(self):
    print("important land")

class son1(dad,land):
  pass
class son2(son1):
  pass
class son3(son1):
  pass

s2= son2()
s1= son1()
s2.attitude()
s2.important()

Positive
important land

In [ ]:
# SUPER KEY WORD
class a():
  def __init__ (self):
    print("A")
  def display(self):
    print("you are in class A")
class b(a):    # inheriting a into b    # as u are inheriting the a into b with out b's constructor a's constructor is called
  # def __init__ (self):
  #   print("B")
  def display(self):
    print("you are in class B")

obj = b()  # if a object created constructor will be called automatically

A

In [ ]:
# SUPER KEY WORD
class a():
  def __init__ (self):
    print("A")
  def display(self):
    print("you are in class A")
class b(a):    # inheriting a into b    # as u are inheriting the a into b with out b's constructor a's constructor is called
  def __init__ (self):
    print("B")           # as there is a constructor for b , it has been given preference
  def display(self):
    print("you are in class B")

obj = b()  # if a object created constructor will be called automatically

B

In [ ]:
# SUPER KEY WORD - to call parents class
class a():
  def __init__ (self):
    print("A")
  def display(self):
    print("you are in class A")
class b(a):    # inheriting a into b    # as u are inheriting the a into b with out b's constructor a's constructor is called
  def __init__ (self):
    super().__init__()   # if you give super you can access the parent class
    print("B")           # as there is a constructor for b , it has been given preference
  def display(self):
    print("you are in class B")

obj = b()  # if a object created constructor will be called automatically

A
B

In [ ]:
# SUPER KEY WORD - to call parents class
class a():
  def __init__ (self):
    print("A")
  def display(self):
    print("you are in class A")
class b():    # inheriting a into b    # as u are inheriting the a into b with out b's constructor a's constructor is called
  def __init__ (self):
    super().__init__()   # if you give super you can access the parent class
    print("B")           # as there is a constructor for b , it has been given preference
  def display(self):
    print("you are in class B")

class c(b,a):
  def __init__ (self):
    super().__init__()   # if u are using super for multiple inheritance , only the left class will taken as parent
    print("C")
  def display(self):
    print("you are in class C")


obj = c()  # if a object created constructor will be called automatically

A
B
C

In [ ]:
#POLYMORPHISM
def add (a,b,c=0):
  print(a+b+c)
(add(2,5))
add(2,5,100)     # if there are 3 values c is the given value .. if there are 2 values c = 10 (i.e) given on the class = polymorphism

7
107

In [ ]:
#POLYMORPHISM
# Overwriting method
class animal():    # base class/ parent class
  def sound(self):
    print("animal makes sound")

class dog(animal):    # child class/ inherited class
  def sound(self):
    print("dog barks")

class birds(animal):
  def sound(self):
    print("Birds sing")

a1 = animal()
d1 = dog()
b1 = birds()
a1.sound()
d1.sound()
b1.sound()

animal makes sound
dog barks
Birds sing

In [ ]:
#
class shape():
  def area(self):
    return 0

class rectangle (shape):
  def area(self):
    l = 10
    b = 20
    print(l*b)       # derived class ...# shape class is derived by rectagle class
s1= shape()
r1 = rectangle()
print(s1.area())
r1.area()

0
200

In [ ]:
class person ():
  def __init__(self,name):
    self.name= name
    print(self.name)

class student():
  def __init__(self,grade):
    super().__init__()        # it will take the parent class arugument and current .
    print(grade)

p1= person("vino")
s1 = student("A")

vino
A

In [ ]:
# another way of doing it
class person ():
  def __init__(self,name):
    self.name= name


class student(person):
  def __init__(self,name,grade):
    super().__init__(name)        # it will take the parent class arugument and current .
    self.grade=grade
  def display(self):
    print(self.name,self.grade)
s1= student("vino","A")
s1.display()

vino A

In [ ]:
class vehicle ():
  def method(self):
    print("Vehicle started")

class car(vehicle):
  def start(self):
    print("car started")

c1 = car()
c1.method()

Vehicle started

In [ ]:
class employee():
  def __init__(self,name,salary):
    self.name = name
    self.salary = salary

class manager():
  def __init__ (self,name,salary,department):
    super().__init__(name,salary)
    self.department= department

  def display(self):
    print(self.name,self.salary,self.department)

m1= manager("Vino",100000,"W")
m1.display()

TypeError: object.__init__() takes exactly one argument (the instance to initialize)

In [ ]:
# ENCAPSULATION - IMPORTANT TOPIC
# any one can change the  name of the company.. if u dont wanna let others to change it see next cell
class company():
  def __init__(self):
    self.Cname = "Google"

c1 = company()
c1.Cname = "Gooooooogle"
print(c1.Cname)

Gooooooogle

In [ ]:
class company():
  def __init__(self):
    self.__Cname = "Google"  ##__Cname = private variable ... will be accessed only by calling class .. not using print fn

  def Cname(self):                ## line 5 & 6(def Cname) will be public and class(company) will be private
    print(self.__Cname)
## _Cname = protector  (single underscore)

c1 = company()
# c1.Cname = "Gooooooogle"
c1.Cname()

Google

In [ ]:
# _Cname ---> protector
class company():
  def __init__(self):
    self._Cname = "Google"

  def Cname(self):
    print(self._Cname)
## _Cname = protector  (single underscore)

c1 = company()
print(c1._Cname)
# c1.Cname()

Google

In [ ]:
# protector can be accessed by child class also
class company():
  def __init__(self):
    self._Cname = "Google"

class b(company):
  pass

b1=b()
b1._Cname

'Google'

In [ ]:
# EXCEPTION HANDLING
#Compiler error - name error,syntax error
printt("hi")

NameError: name 'printt' is not defined

In [ ]:
#Logical error
a = 10
b = 30
print(a+a)  # instead of a+b i gave a+a so its logical error

20

In [ ]:
# Run time error - compiler error
a = int(input())
b = int(input())
print(a+b)

34
sf

ValueError: invalid literal for int() with base 10: 'sf'

In [ ]:
## EXCEPTION HANDLING
try:
  a = int(input())
  b = int(input())
  print(a+b)
except:
  print("VinoPravin")

6
g
VinoPravin

In [ ]:
## EXCEPTION HANDLING
try:
  a = int(input())
  b = int(input())
  print(a+b)
except exception as e:
  print("VinoPravin",e)

7
m

NameError: name 'exception' is not defined

In [ ]:
## EXCEPTION HANDLING
try:
  a = int(input())
  b = int(input())
  c = input()
  print(c/a)
  print(d)        # as d is not determined it ll throw error ... and will be handled by exception
except ValueError as e:          # this except will work only for value error
  print("VinoPravin",e)
except TypeError as e :       # this except will work only for type error
  print("ab",e)
except exception as e:    # this is a common exception if the error is not value/type error means this willl run
  print("something wrong ")
finally:    # finally will work after except . it will work even if there is an error in except
  print("over")

565
345
tgt
ab unsupported operand type(s) for /: 'str' and 'int'
over

In [ ]:
## FILE HANDLING
#

In [ ]:
N = int(input())
# If given number is greater than 1
if N > 1:
	# Iterate from 2 to n / 2
	for i in range(2, int(N/2)+1):
		# If num is divisible by any number between
		# 2 and n / 2, it is not prime
		if (N % i) == 0:
			print( "yes")
			break
	else:
		print( "no")
# else:
# 	print(num, "is not a prime num")

123
yes

In [ ]:
n , m= input().split()
N = int(n)
M = int(m)
add = N+M
if add % 2 == 0 :
  print("even")
else:
  print("odd")

9 2
odd

In [ ]:
n = int(input())
i = 1
while i <= n:
  i *= 2
print(i)

12
16

In [ ]:
S = input().strip()
D = len(S)//2

if len(S)%2==0:

     print(S[0:D-1]+"**"+S[D+1:])
else:
  print(S[0:D]+"*"+S[D+1:])

vinopravin
vino**avin

In [ ]:
def getSum(n):

    sum = 0
    for digit in str(n):
      sum += int(digit)
    return sum

# n = 12345
print(getSum(input()))

124
7

In [ ]:
K,L,M = input()
print (ord(M)+ord(L)+ord(K))

abc
294